.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr 1/3fr;
    grid-template-areas: 
    "header header"
    "sidebar content"
    "footer footer" ;
    height: 600px;
}  

.content div{
    margin: 15px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 5px black;
    background-color: rgb(229, 244, 246);

}

.header {
    text-align: center;
    background-color: lightseagreen;
    grid-area: header;
    /* align-content: center; */
}

.sidebar {
    background-color: rgb(198, 219, 221);
    grid-area: sidebar;
}

.content {
    grid-area: content;
}

.footer {
    background-color: lightseagreen;
    grid-area: footer;
    text-align: center;
    align-content: center;
}
.sidebar li{
 border-radius: 10px;
 background-color: beige;
 padding: 15px;
 margin: 25px;
 text-align: center;
 list-style: none;

 
}
.sidebar li:hover{
  background-color: aqua;
 
}
.right-image{
    float:right;
    margin-left: 30px;
}